:root {
    --navBarbackground-color:white;
    --navBorder-color: #f4f4f4;
    --mainformbackground-color:#fff;
    --links-color: black;
    --red-color:#EB4D35;
    --grey-color1:#BBBBBB;
    --snackbar-color:green;
    --totalprice-color:#2296F3;
}
    


    
