* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
}

nav.navBar {
    margin-bottom: 50px;
    border: 2px solid var(--navBorder-color);
    background-color: var(--navBarbackground-color);
    position: sticky;
    top: 0;
}

ul.navBar__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 98%;
    list-style: none;
    text-decoration: none;
    margin: 15px;
}

a.redirecting__links {
    color: var(--links-color);
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.homePage__list {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    column-gap: 7em;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
}

.homepage {
    width: 30px;
}

.thumps__up {
    display: grid;
    grid-template-columns: 160px 1650px;
    padding: 0.3em;
}

.title {
    margin-right: 8em;
    font-size: larger;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    ul.navBar__list {
        display: grid;
        grid-template-rows: 20px 20px 20px 20px 20px;
        /* text-align: center; */
        /* width: 98%; */
        list-style: none;
        text-decoration: none;
        margin-left: -90px;
    }
    .navBar {
        margin: 20px;
    }
    .homePage__list {
        grid-template-columns: 200px;
        justify-content: center;
        align-items: center;
        padding-right: 202px;
    }

    .logo {
        display: grid;
        grid-template-rows: 32px 28px;
        margin-left: 134px;
    }
    .artwork__page {
        margin-left: -2px;
    }

    img.artwork__img {
        width: 0vw;
    }
}


.maincontainer__form {
    display: flex;
    justify-content: center;
}

.maincontainer__form {
    width: 80vw;
    max-width: 400px;
    height: 67vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--mainformbackground-color);
    box-shadow: 20px 20px 50px #f4f4f4;
    line-height: 2.5rem;
    padding: 2em;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    overflow: hidden;
}

button.login__submitbtn,
.register__submitbtn {
    color: var(--red-color);
    background-color: var(--mainformbackground-color);
    width: 10rem;
    height: 2rem;
    font-size: large;
    margin: 20px;
    font-weight: bold;
    border: 1px solid var(--red-color);
    outline: none;
    cursor: pointer;
}

.logo {
    display: flex;
    margin-right: 590px;
}

span.logo__name {
    padding-top: 6px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: large;
}

.homepage__cards {
    width: 236px;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 50px #888888;
    background: #f4f4f4;
}

img.homepage__images {
    width: 201px;
    height: 199px;
    padding-left: 29px;
    padding-top: 17px;
}

.details__homepage {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 126px;
}

svg.bookmark {
    margin-left: -35px;
}

span.artwork__genre {
    color: dimgrey;
    padding: 30px;
}

 

a.backtohome__link {
    text-decoration: none;
    color: var(--red-color);
    border: 1px solid var(--red-color);
    margin: 23px;
    padding: 6px;
}
.artwork__details {
    display: grid;
    grid-template-rows: 71px 60px 271px 54px;
    margin-left: 46px;
}

.artname {
    margin-top: 40px;
    font-weight: bolder;
    font-size: larger;
}

.email__input-wrapper,
.password__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email__input,
.password__input {
    width: 100%;
    padding: 7px 31px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

.errorMessages {
    font-size: 0.85em;
    text-align: start;
    color: var(--red-color);
    font-weight: 800;
}

.errorBorder {
    border: 1px solid var(--red-color);
}

svg.logo__input {
    margin-right: -23px;
    z-index: 1;
    color: var(--grey-color1);
}

svg.arrow__logo {
    padding-top: 24px;
}

.activeLink {
    color: black;
}

.activeLink path {
    fill: black;
}

.shoppingLink {
    color: var(--red-color);
}

.shoppingLink path {
    fill: var(--red-color);
}

.price {
    display: flex;
    justify-content: space-between;
}

.description__container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

span.item__price {
    margin-right: 136px;
}

.artPrice {
    font-weight: bolder;
    font-size: larger;
}
.artwork__addtocart {
    display: flex;
    flex-direction: row;
}

svg.bookmark__addtocart {
    margin: 11px;
}

span.genre__artwork,
span.description,
span.item__price {
    color: grey;
    font-weight: bold;
}

img.artwork__img {
    width: 34vw;
    margin-top: 40px;
   height: 50vh;
}

.snackbar__message {
    min-width: 250px;
    background-color: var(--snackbar-color);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 81px;
    right: 60px;
    font-size: 17px;
}

.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

img.cart__image {
    width: 15vw;
    height: 25vh;
    padding: 20px;
}

.cart__artname-genre {
    display: grid;
    grid-template-rows: 60px 60px 60px;
}

.artname-cart {
    margin-top: 20px;
    font-weight: 800;
    margin-left: -28px;
}

.artname-genre {
    color: grey;
    font-weight: 800;
    margin-left: -28px;
}

.art-count {
    border: 1px solid;
    height: 4vh;
    padding: 9px 10px 5px 11px;
}

.cart__price-count {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    align-content: space-between;
}
.art-price {
    margin-left: 120px;
}

.count {
   display: flex;
   align-items: baseline;
}

svg.minus__items {
    margin-right: 1em;
}

svg.plus__items {
    margin-left: 1em;
}

.total__price-shopping {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

a.continueShopping {
    text-decoration: none;
    color: var(--red-color);
    border: none;
    font-weight: 800;
}

.shoppingCheckout {
    text-decoration: none;
    color: var(--red-color);
}

h1.cart__heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    margin-left: 10px;
    color: var(--totalprice-color);
    font-size: larger;
    font-weight: 900;
}

.maincheckout__container {
    margin-top: -41px;
    background: #f4f4f4;
    width: 80vw;
    height: 84vh;
    line-height: 0.2em;
    margin-left: 140px;
    line-height: 3rem;
}
h1.thankyou__message {
    font-family: "Italianno", cursive;
    color: green;
    font-size: 137px;
    margin: 184px 199px;
    font-weight: 100;
    text-align: center;
}

h2.successmessage__shopping {
    margin-top: -126px;
    margin-left: 340px;
}

.unsuccessmessage__shopping {
    margin-left: 390px;
    margin-top: 74px;
}

.checkout {
    display: flex;
    width: 90px;
    border: 1px solid var(--red-color);
    height: 30px;
    justify-items: center;
    align-items: center;
    font-weight: 800;
    justify-content: center;
}

.cartpage {
    display: grid;
    margin-top: -40px;
    background: #f4f4f4;
    width: 80vw;
    -ms-flex-pack: center;
    justify-content: center;
    height: 85vh;
    line-height: 0.2em;
    margin-left: 124px;
}

.cart__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    background: white;
    border: 1px solid #f4f4f4;
    width: 50vw;
    height: 25vh;
    box-shadow: 20px 20px 50px hsl(0deg 26% 93%);
    line-height: 0.2rem;
}

.shopping__items {
    justify-content: right;
    margin-top: -44px;
}

.cart__empty {
    margin: 45px;
}

.form-login,
.form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cartpage__header {
    display: grid;
    justify-content: center;
    align-items: center;
}
.checkout__name {
    display: flex;
    justify-content: center;
}

.artwork-cards {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.artwork__page {
   display: flex;
    justify-content: center;
   align-items: center;
    background: white;
    -webkit-box-shadow: 20px 20px 50px #888888;
    box-shadow: 20px 20px 50px #888888;
    height: 80vh;
    padding: 33px;
   line-height: 2.3rem;
   margin: 0px 30px;
}

a.backtohome__btn {
    text-decoration: none;
}